* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f7f7f7;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-box {
    background: linear-gradient(#e51515, #FF7F50, #FFD700);
    border-radius: 10px;
    padding: 40px;
    text-align: center;
    width: 300px;
}

.avatar {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #fff;
    margin: 0 auto 20px;
}

h2 {
    color: white;
    margin-bottom: 20px;
    font-size: 24px;
}

.input-group {
    margin-bottom: 20px;
    text-align: left;
}
.input-group input {
    width: 100%;
    padding: 10px;
    border: none;
    border-bottom: 2px solid white; 
    border-radius: 0;
    background-color: transparent ;  
    color: white;
    font-size: 16px;
    
}

.input-group input:focus {
    outline: none;
    border-bottom: 2px solid #FFD700; 
}


.login-btn {
    background-color: #7c11df;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    font-size: 16px;
    cursor: pointer;
    width: 50%;
}

.login-btn:hover {
    background-color: #7a1ab4;
}
